
{* Latte template *}

{block content}


<h6 n:block=title styl >Page Not Found</h6>



<h2 style="
    margin-top: 150px;
">The page you requested could not be found. It is possible that the address is
    incorrect,<br> or that the page no longer exists. Please use a search engine to find
what you are looking for.</h2>
<br>
<p><h5><strong>error 404</strong></h5></p>

{/block}

{block head}
